

body {
    font-family: Poppins;
}

h1 {
    color: $text;
}

div {
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
    border-style: solid;
    padding: $base-padding;
    border-color: $error ;
    box-shadow: $base-box-shadow ;
}