
.navbar-container {
    border: $base-border-thickness solid ;
    display: flex;
    height: auto;
    justify-content: space-around;

    .navbar-logo-img {
        border: $base-border-thickness solid;
    }

    .container-wrapper {
        display: flex;
        gap: 10px;    

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: $text;
            }
            
        }
    }


}